<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add-Med-Center</title>
    <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet">
</head>
<body>
<header class="header color-light-blue">
    <nav class="nav">
        <ul>
            <li><a class="nav-text" href="/admin">Меню</a></li>
            <li><a class="nav-text" href="/admin/info">Личная информация</a></li>
            <li><a class="nav-text" href="/admin/users">Пользователи</a></li>
            <li><a class="nav-text" href="/admin/center">Медицинские учреждения</a></li>
            <li><a class="nav-text" href="/admin/category">Категория заболеваний</a></li>
        </ul>
    </nav>
</header>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Название</th>
        <th scope="col">Улица</th>
        <th scope="col">Дом</th>
        <th scope="col">Квартира</th>
        <th scope="col">Город</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cent: ${centers}">
        <th scope="row" th:text="${cent.name}" />
        <th scope="row" th:text="${cent.address.street}" />
        <th scope="row" th:text="${cent.address.house}" />
        <th scope="row" th:text="${cent.address.flat}" />
        <th scope="row" th:text="${cent.address.city.name}" />
    </tr>
    </tbody>
</table>
<div class="flex-center">
    <a class="page-button color-light-blue page-text" th:if="${prevPage != 0}" th:href="@{/admin/center(page=${prevPage})}">Назад</a>
    <a class="page-button color-light-blue page-text" th:if="${centers.size() == 10}" th:href="@{/admin/center(page=${nextPage})}">Вперед</a>
</div>
<main class="flex-center">
    <form th:action="@{/admin/centers}" th:method="post" th:object="${center}" class="flex-column">
        <div class="flex-row gap-personal-info">
            <div class="personal-block">
                <div class="personal-text">Добавить мед-центр</div>
                <label class="personal-text" for="personal-name">Название</label>
                <input class="personal-field" th:value="${center.name}" type="text" th:field="*{name}" id="personal-name">
            </div>
            <div class="personal-block">
                <label class="personal-text" for="personal-city">Город</label>
                <input class="personal-field" th:value="${center.name}" type="text" th:field="*{address.city.name}" id="personal-city">
                <label class="personal-text" for="personal-street">Улица</label>
                <input class="personal-field" th:value="${center.name}" type="text" th:field="*{address.street}" id="personal-street">
                <label class="personal-text" for="personal-house">Дом</label>
                <input class="personal-field" th:value="${center.name}" type="text" th:field="*{address.house}" id="personal-house">
                <label class="personal-text" for="personal-flat">Квартира</label>
                <input class="personal-field" th:value="${center.name}" type="text" th:field="*{address.flat}" id="personal-flat">
            </div>
        </div>
        <input class="button-done personal-text" type="submit" value="Готово!">
    </form>
</main>
</body>
</html>