<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet">
</head>
<body>
    <nav class="nav-menu">
        <a class="button-menu color-light-blue menu-text" href="/person">Личная информация</a>
        <a class="button-menu color-light-blue menu-text" href="/history">История болезней</a>
        <a class="button-menu color-light-blue menu-text" href="/doctors">Врачи</a>
        <a class="button-menu color-light-blue menu-text" href="/centers">Медицинские учреждения</a>
    </nav>
</body>
</html>