<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet">
</head>
<body>
    <nav class="nav-menu">
        <a class="button-menu color-light-blue menu-text" href="/menu/person">Личная информация</a>
        <a class="button-menu color-light-blue menu-text" href="/menu/history">История болезней</a>
        <a class="button-menu color-light-blue menu-text" href="/menu/doctors">Врачи</a>
        <a class="button-menu color-light-blue menu-text" href="/menu/centers">Медицинские учреждения</a>
        <a class="button-menu color-light-blue menu-text" href="/admin" th:if="${isAdmin == true}">Админ меню</a>
    </nav>
</body>
</html>